.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.task-item.completed {
  text-decoration: line-through;
  color: #999;
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
}

.task-item span {
  flex: 1;
  margin-right: 10px;
}

.task-item button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.task-item button.edit-button {
  background-color: #2196f3;
}

.task-item button:hover {
  background-color: #d32f2f;
}

.task-item button.edit-button:hover {
  background-color: #1976d2;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

.add-form {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.add-form input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;

}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color: #0056b3;
}

